$si-color-black: #000;
$si-color-white: #fff;
$si-color-neon: #e3f43d;

$si-color-white-a: rgba(255, 255, 255, 1);
$si-color-white-a75: rgba(255, 255, 255, .75);
$si-color-white-a0: rgba(255, 255, 255, 0);

$si-color-black-a: rgba(0, 0, 0, 1);
$si-color-black-a25: rgba(0, 0, 0, .25);
$si-color-black-a75: rgba(0, 0, 0, .75);
$si-color-black-a0: rgba(0, 0, 0, 0);
