html {
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

body {
  background: none;
  color: $si-color-white;
  font-family: 'Overpass', sans-serif;
  font-size: 17px;

  #fullpage {
    text-align: center;

    > section {
      .container {
        padding: 0 30px;

        @include media-breakpoint-up(lg) {
          padding: 0;
          max-width: 60%;
        }

      }
    }
  }

  #section-intro {
    padding: 0 40px;

    h1,
    h2 {
      text-transform: uppercase;
    }

    h1 {
      font-size: 50px;
      font-weight: 600;
    }

    .branding {
      &.logo {
        width: 90%;
        height: 105px;
        margin: 0 auto;
        display: block;
        background: url('../images/logo.png') no-repeat center center;
        background-size: contain;
        transition: all .25s;

        span {
          display: none;
        }

        @include media-breakpoint-up(sm) {
          width: 70%;
          height: 200px;
        }

      }
    }
  }

  #section-social {

    .nav.social {
      @extend .justify-content-center;

      li {
        margin: 0 10px;
        font-size: 50px;

        span {
          display: none;
        }

      }

    }

  }

  h3, h4 {
    text-transform: uppercase;
    font-weight: 600;
  }

}
