body {
  background: $si-color-black;
  color: $si-color-white;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 17px;

  #fullpage {
    text-align: center;

    > section {
      .container {
        padding: 0 30px;

        @include media-breakpoint-up(lg) {
          padding: 0;
          max-width: 60%;
        }

      }
    }
  }

  h3, h4 {
    text-transform: uppercase;
    font-weight: 600;
  }

}
