// Primairy Navigation

.navbar {
  &.primary {
    background: $si-color-black-a25;
    z-index: 10;
    color: $si-color-white;
    transition: all .25s;
    @extend .fixed-top;

    @include media-breakpoint-up(md) {
      background: none;
    }

  }

  // Logo
  .navbar-brand {
    img {
      width: 100px;
      margin-top: -3px;
      padding: .45rem 0;
      transition: width .10s;

      @include media-breakpoint-up(md) {
        width: 130px;
      }
    }
  }

  .navbar-nav {
    padding-top: 20px;
    @extend .ml-auto;

    a {
      color: $si-color-white;
      text-transform: uppercase;
    }

    @include media-breakpoint-up(md) {
      padding: 0;
    }

  }

  .navbar-toggler {
    top: 20px;
  }

}
