// Primairy Navigation

.navbar {
  &.primary {
    background: none;
    z-index: 10;
    @extend .fixed-top;
  }

  // Logo
  .navbar-brand {
    img {
      width: 100px;
      transition: width .10s;

      @include media-breakpoint-up(md) {
        width: 150px;
      }
    }
  }

  .navbar-toggler {
    top: 20px;
  }

}
