.fp-slides {
  .slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.slide-1 {
      background-image: url('../images/slide1.jpg');
    }

    &.slide-2 {
      background-image: url('../images/slide2.jpg');
    }

    &.slide-3 {
      background-image: url('../images/slide3.jpg');
    }

    &.slide-4 {
      background-image: url('../images/slide4.jpg');
    }
  }

}

.fp-controlArrow {
  top: 0;
  height: 100%;


  &.fp-prev,
  &.fp-next {
    position: relative;
    top: 0 !important;
    width: 20% !important;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
  }

  &.fp-prev {
    left: 0 !important;
    background: green;

    &:hover {
      background: red;
    }

  }

  &.fp-next {
    right: 0 !important;
  }

}
